<html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Product</title>
        <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/app.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
    
        <div class="container">
                <div class='row'>
                    <div class='col-md-4'></div>
                    <div class='col-md-4'>
                      <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
                      <form accept-charset="UTF-8" action="/products/" class="require-validation" id="payment-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /></div>
                        <div class='form-row'>
                          <div class='col-xs-12 form-group required'>
                            <label class='control-label'>Name on Product</label>
                            <input class='form-control' size='4' type='text' name="name" required>
                          </div>
                        </div>
                        <div class='form-row'>
                          <div class='col-xs-12 form-group card required'>
                            <label class='control-label'>Description</label>
                            <input autocomplete='off' class='form-control card-number' size='20' type='text' name="description" required>
                          </div>
                        </div>
                        <div class='form-row'>
                                <div class='col-xs-12 form-group card required'>
                                  <label class='control-label'>Price</label>
                                  <input autocomplete='off' class='form-control card-number' size='20' type='text' name="price" required>
                                </div>
                        </div>
                        <div class='form-row'>
                          <div class='col-md-12 form-group'>
                            <button class='form-control btn btn-primary submit-button' type='submit'>Add</button>
                          </div>
                          <div class="well">
                                Go to <a href="/products/list">Products List</a>
                        </div>
                        <p style="color: red;">
                <% if (typeof errMes !== 'undefined'){%>
                <%= errMes%>
                <%}%>
        </p>
                        </div>
                      </form>
                    </div>
                    <div class='col-md-4'></div>
                </div>
            </div>
            
        </div>
        
    </body>
    </html>